{% extends "template.html" %}
{% block content %}
    <h2>Welcome to the Flask blog !</h2>
    <p><a href="/logout">Logout</a></p>
    <br/>

    <!-- Add new post form inside the database-->
    <h3>Add a new post:</h3>
    <form action="{{ url_for('add') }}", method="POST", class="add">
        <!-- Add `for` attribut to enable link between `label for` and `input id`-->
        <div>
        <label for="title"><strong>Title:</strong></label>
        <input id="title" name="title" type="text", value="Your post title">
        </div>
        <div>
        <p><label for="post"><strong>Post:</strong></label><br>
        <textarea id="post" name="post", rows="5", cols="40"></textarea></p>
        </div>
        <div>
        <input class="button" type="submit" value="Save">
        </div>
    </form>
    <br/>
    <br/>

    <!-- Display posts fron database -->
    <br/>
    <h3>Posts:</h3>
    {% for p in posts %}
    <strong>Title:</strong> {{ p.title }} <br/>
    <strong>Post:</strong> {{ p.post }}   <br/>
    <br/>
    {% endfor %}
{% endblock %}
