<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Welcome to FlaskTaskr!!!</title>

        <!-- Styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <!-- Scripts -->
    <script
        src="{{ url_for('static', filename='js/jquery.js') }}">
    </script>
    <script
        src="{{ url_for('static', filename='js/bootstrap.min.js') }}">
    </script>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">FlaskTaskr5</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% if session.logged_in %}
                        <li><a>Welcome, {{username}}.</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    <!-- Update link according to current page -->
                    {% if not session.logged_in %}
                        <li><a href="/register">Signup</a></li>
                    {% else %}
                        <li><a href="/logout">Signout</a></li>
                    {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <!-- Jumbotron -->
        <div class="jumbotron">
            <h1>
                Welcome to Flask-Taskr
                <br>
                <span class="glyphicon glyphicon-file" style="color:#5cb85c">
            </h1>
        </div>

        <!-- Main app -->
        <div class="container"></div>
            <div class="row">
                <div class="col-md-6  col-md-offset-3">
                    <div class="content">
                        {% for message in get_flashed_messages() %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                        {% if error %}
                            <div class="error"><strong>Error: </strong>{{ error }}</div>
                        {% endif %}
                        {% block content %}
                        <!-- Here we can add data inside childs -->
                        {% endblock %}
                    </div>

                    <!-- Footer -->
                    <div class="footer">
                        <hr>
                        <p>
                            &copy; <a href="https://www.realpython.com">Real Python</a>
                        </p>
                    </div>
                </div>
            </div>
        </div><!-- /.container -->
    </body>
</html>
