{% extends "template.html" %}
{% block content %}
<h1>Welcome to Flask-Taksr.</h1>
<h3>Please login to access your tasks list.</h3>
<form method="POST", action="">
    {{ form.csrf_token }}
    <p>{{ form.name.label }}: {{ form.name }}&nbsp;&nbsp;{{ form.email.label }}: {{ form.email }}</p>
    <p>{{ form.password.label }}: {{ form.password }}&nbsp;&nbsp;{{ form.confirm.label }}: {{ form.confirm }}</p>
    <input type="submit", value="Register">
</form>
<p><em>Already register ?.</em> Please click <a href="/">here</a> to login.</p>
{% endblock %}
